@use '@carbon/react';

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.modeler {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;

  .canvas {
    width: 100%;
  }

  .properties-panel {
    width: 400px;
    border-left: 1px solid #e0e0e0;
  }
}

.bottom-panel {
  height: 400px;
}

.bottom-panel_tabs {
  height: 30px;
  display: flex;
  background: #ebebeb;
}

.bottom-panel_tabs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  &.active {
    border-bottom: 2px solid #0f62fe;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.bottom-panel_tabs-content {
  height: calc(100% - 36px);
}