html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modeler {
  display: flex;
  height: 100%;
}

.canvas {
  flex: 1;
}

.properties-panel {
  position: relative;
  border-left: 1px solid hsl(225, 10%, 75%);
  flex-shrink: 0;
  overflow: hidden;
}

.task-testing {
  position: relative;
  border-left: 1px solid hsl(225, 10%, 75%);
  flex-shrink: 0;
  overflow: hidden;
}

.resize-handle {
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  z-index: 1000;
}

.resize-handle:hover {
  background: #0f62fe;
}

.djs-minimap {
  display: none;
}