html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modeler {
  display: flex;
  height: 100%;
}

.canvas {
  flex: 1;
}

.properties-panel {
  width: 300px;
  border-left: 1px solid hsl(225, 10%, 75%);
}

.task-testing {
  width: 300px;
  border-left: 1px solid hsl(225, 10%, 75%);
}

.djs-minimap {
  display: none;
}